/* ************************** GLOBAL LAYOUT SET-UP ************************** */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Mitr', sans-serif;

  font-size: 1em;

  margin: 0;
  padding: 0;

  text-align: center;

  color: #222;
  background: #f7f5f0;
}

img {
  max-width: 100%;
}

/* flex */

fieldset {
  border: none;
}

.flex-container,
.flex-items,
.flex-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-items input {
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;

  border: 1px solid black;
  border-radius: 10px;
}

.flex-items textarea {
  margin: 10px 0 30px 0;
  padding-left: 10px;

  border: 1px solid black;
  border-radius: 10px;
}

input[type='submit'] {
  font-size: 1.2rem;

  width: 100%;
  padding: 10px;
  border: none;

  cursor: pointer;
  -webkit-transition: background-color 0.3s
    cubic-bezier(0.39, -0.44, 0.46, 1.53) 0s;
  -o-transition: background-color 0.3s cubic-bezier(0.39, -0.44, 0.46, 1.53) 0s;
  transition: background-color 0.3s cubic-bezier(0.39, -0.44, 0.46, 1.53) 0s;

  color: #fff;
  border-radius: 10px;
  background-color: dodgerblue;
  /* transition: <transition-property><duration><cubic-bezier><delay> */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#submit:hover {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);

  background-color: darkblue;
}

/* Link Styles */

a {
  text-decoration: none;
  text-transform: uppercase;

  color: rgb(214, 153, 74);
}

/* Header-Style Content */

.header-content {
  top: 0;

  width: 100%;
  min-height: 30px;
  padding: 10px;

  border-bottom: 2px solid white;
  background: rgb(7, 11, 61);
}

.nav {
  font-weight: 700;

  padding-left: 0;

  list-style-type: none;
}

.profile-name {
  color: white;
  text-shadow: 1px 1px 2px rgb(107, 109, 102);
  letter-spacing: 0.109em;
}

h3.profile-name {
  margin: 0;
}

nav ul li {
  margin: 10px;
  padding: 10px;

  -webkit-transition: background 0.5s cubic-bezier(0.39, -0.44, 0.46, 1.53);

  -o-transition: background 0.5s cubic-bezier(0.39, -0.44, 0.46, 1.53);

  transition: background 0.5s cubic-bezier(0.39, -0.44, 0.46, 1.53);

  background: #fff;
  /* transition: <transition-property><cubic-bezier> */
}

li a {
  display: block;
}

.nav a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* ***************************** HEADER SECTION ***************************** */

header {
  line-height: 1.5;

  overflow: hidden;

  padding-top: 50px;

  text-align: center;

  background: url('images/np-mountain.jpg') no-repeat top center;
  background-size: cover;
}

header h1 {
  letter-spacing: 0.123em;
}

header.np-house {
  overflow: hidden;

  padding-top: 50px;

  background: url('images/house-npl.jpg') no-repeat top center;
  background-size: cover;
}

header.np-mt {
  overflow: hidden;

  padding-top: 50px;

  background: url('images/np-mt.jpg') no-repeat top center;
  background-size: cover;
}

header.np-rural {
  overflow: hidden;

  padding-top: 50px;

  background: url('images/np-rural.jpg') no-repeat top center;
  background-size: cover;
}

header .profile-image {
  width: 150px;
  height: 150px;
  margin-top: 20px;

  -webkit-transition: all 0.5s, border-radius 0.5s 0.1s;

  -o-transition: all 0.5s, border-radius 0.5s 0.1s;

  transition: all 0.5s, border-radius 0.5s 0.1s;

  border: 5px outset #fff;
  border-radius: 50%;
  /* transition: <all duration delay> */
}

header .profile-image:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);

  border-radius: 20px;
}

.tag {
  display: table;

  margin: 30px auto;
  padding: 10px;

  color: black;
  border-radius: 5px;
  background-color: #efefef;
}
.location {
  color: white;
  background-color: black;
}

img.flag-np {
  width: 25px;
  height: 20px;
  padding-top: 2px;
}
img.flag-gb {
  width: 25px;
  height: 20px;
  padding-top: 8px;
}

/* ***************************** CONTENT SECTION **************************** */

.objectives {
  float: right;

  width: 120px;
  height: 120px;
}

.goals {
  float: left;

  width: 120px;
  height: 120px;
}

.goals:hover,
.objectives:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.card {
  max-width: 500px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 20px 40px 40px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  text-align: left;

  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.card:hover {
  border-color: #161516;
}

.card-contact {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 0 0 20px 0;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  text-align: left;

  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.card-contact:hover {
  border-color: #161516;
}

.card-education {
  max-width: 500px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 20px 40px 40px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  text-align: left;

  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.card-education:hover {
  border-color: #161516;
}

.card-creation {
  overflow: auto;

  margin-top: 20px;
  padding: 20px 40px 40px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  text-align: left;

  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.card-creation:hover {
  border-color: #161516;
}

.article-header {
  text-align: center;
}

/* ****************************** FORM SECTION ****************************** */

.text-deco {
  font-size: 25px;

  color: rgb(70, 44, 112);
}

p.comp-style {
  padding-left: 40px;
}

ul.skills {
  padding: 0;

  text-align: left;
}

.skills li {
  display: inline-block;

  margin: 2px;
  padding: 5px 10px;

  color: white;
  border-radius: 6px;
  background: #ff9904;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

/* ***************************** FOOTER SECTION ***************************** */

footer {
  width: 100%;
  min-height: 30px;
  margin-top: 30px;
  padding: 1.25em 0 0.625em 0;

  color: #ffff;
  background: rgb(7, 11, 61);
}

footer .copyright {
  font-size: 0.95rem;

  top: -8px;

  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;

  width: 30px;
  height: 30px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  text-indent: -9999px;

  opacity: 0.5;
  background-size: 30px 30px;
}

a.github {
  margin-bottom: 0.3125em;

  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;

  transition: opacity 0.4s, -webkit-transform 0.4s;

  -o-transition: opacity 0.4s, transform 0.4s;

  transition: opacity 0.4s, transform 0.4s;

  transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;

  background-image: url(images/github.svg);
}
a.social:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
  -ms-transform: scale(1.2) rotate(360deg);
  transform: scale(1.2) rotate(360deg);

  opacity: 0.8;
}
.clearfix {
  clear: both;
}

/* ********************* MEDIA QUERY FOR SMALLER SCREEN ********************* */

@media screen and (min-width: 768px) {
  .header-content {
    position: fixed;

    min-height: 30px;
    padding: 10px;
  }

  .nav a {
    margin-left: 1.5em;

    -webkit-transition: color 0.5s 0s, -webkit-transform 0.5s 0.2s;

    transition: color 0.5s 0s, -webkit-transform 0.5s 0.2s;

    -o-transition: color 0.5s 0s, transform 0.5s 0.2s;

    transition: color 0.5s 0s, transform 0.5s 0.2s;

    transition: color 0.5s 0s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }

  nav ul li:hover,
  a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    color: #fff;
    /* background: none; */
  }

  .wrap {
    min-height: calc(100vh - 18px);
  }
  /* Sticky footer syntax */

  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-box;
    display: flex;

    max-width: 1200px;
    margin: 0 auto;

    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  header {
    min-height: 470px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
  }

  /* Body Styles */

  body {
    padding-top: 110px;
  }

  nav ul li {
    display: inline-block;

    margin: 0;
    padding: 0;

    background: none;
  }

  .col {
    float: left;

    padding-right: 1em;
    padding-left: 1em;
  }

  .homepage,
  .events {
    width: 50%;
  }
}

/* ********************** MEDIA QUERY FOR LARGER SCREEN ********************* */

@media (min-width: 1024px) {
  /* Body Styles */

  body {
    padding-top: 51px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1200px;
    padding: 0 30px;
  }

  nav a {
    margin-left: 3em;

    -webkit-transition: color 10s 0s, border 0.5s 2s;

    -o-transition: color 10s 0s, border 0.5s 2s;

    transition: color 10s 0s, border 0.5s 2s;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  .profile-name {
    float: left;

    padding-left: 1rem;
  }

  .nav {
    margin-top: 0.5rem;
  }

  nav ul {
    float: right;
  }
}
