/* Global Layout Set-up */

    * { 
      box-sizing: border-box;
    }
      
    body {
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #222;
      background: #f7f5f0;
      font-size: 1.1em;
    }

    img {
      max-width: 100%;
    }

/* Link Styles */

    a {
      text-decoration: none;
      color: rgb(202, 107, 63);
    }
    a:hover {
      color: rgb(179, 22, 22);
    }

/* Header-Style Content */

    .header-content {
      width: 100%;
      background: rgb(7, 11, 61);
      min-height: 30px;
      padding: 10px;
      top: 0;
      border-bottom: 2px solid white;
    }
    
    .nav {
      padding-left: 0;
      font-weight: 700;
      list-style-type: none;
    }

    .profile-name {
      padding-top: 10px;
      color: white;
    }

    h3.profile-name {
      margin: 0;
    }

   nav ul li {
      margin: 10px;
      padding: 5px;
      background: #fff;
    }

    li a {
      display: block;
    }

    .nav a {
      transition: all .5s;
    }

    .line{
      display: none;
    }

/* Header Section */

    header {
      text-align: center;
      background: url('images/np-mountain.jpg') no-repeat top center;
      background-size: cover;
      overflow: hidden;
      padding-top: 50px;
      border-bottom: 2px inset brown;
      line-height: 1.5;
    }

    header.np-house {
      background: url('images/house-npl.jpg') no-repeat top center;
      background-size: cover;
      overflow: hidden;
      padding-top: 50px;
    }

    header.np-mt {
      background: url('images/np-mt.jpg') no-repeat top center;
      background-size: cover;
      overflow: hidden;
      padding-top: 50px;
    }

    header.np-rural {
      background: url('images/np-rural.jpg') no-repeat top center;
      background-size: cover;
      overflow: hidden;
      padding-top: 50px;
    }

    header .profile-image {
      margin-top: 20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px outset #161516;
      transition: all 1s;
    }

    header .profile-image:hover {
      transform: scale(1.1) rotate(5deg);
    }

    .tag {
      background-color: #efefef;
      color: black;
      padding: 10px;
      border-radius: 5px;
      display: table;
      margin: 30px auto;
    } 
    .location {
      background-color: black;
      color: white;
    }

    img.flag-np{
      padding-top: 2px;
      width: 25px;
      height: 20px;
    }
    img.flag-gb{
      padding-top: 8px;
      width: 25px;
      height: 20px;
    }

/* Content Section */

    .objectives {
      width: 120px;
      height: 120px;
      float: right;
    }

    .goals {
      width: 120px;
      height: 120px;
      float: left;
    }

    .card {
      margin: 20px auto;
      margin-bottom: 0;
      padding: 20px 40px 40px;
      max-width: 500px;
      text-align: left;
      background: #fff;
      border-bottom: 4px solid #ccc;
      border-radius: 6px;
      transition: all .5s;
    }

    .card:hover {
      border-color: #161516;
    }

    .card-contact {
      margin: 20px auto;
      margin-bottom: 0;
      padding: 20px 40px 40px;
      max-width: 500px;
      text-align: left;
      background: #fff;
      border-bottom: 4px solid #ccc;
      border-radius: 6px;
      transition: all .5s;
    }

    .card-contact:hover {
      border-color: #161516;
    }

    .card-education {
      margin: 20px auto;
      margin-bottom: 0;
      padding: 20px 40px 40px;
      max-width: 500px;
      text-align: left;
      background: #fff;
      border-bottom: 4px solid #ccc;
      border-radius: 6px;
      transition: all .5s;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.1em;
    }

    .card-education:hover {
      border-color: #161516;
    }

    .card-creation {
      margin-top: 20px;
      padding: 20px 40px 40px;
      overflow: auto;
      text-align: left;
      background: #fff;
      border-bottom: 4px solid #ccc;
      border-radius: 6px;
      transition: all .5s;
    }

    .card-creation:hover {
      border-color: #161516;
    }

    .article-header {
      text-align: center;
    }

    /* Form Section */

    form {
      max-width: 300px;
      margin: 5px auto;
      padding: 10px;
      background: #ffff;
      border-radius: 8px;
    }

    label {
      display: inline-block;
      margin-bottom: 6px;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
      background-color: rgb(226, 226, 226);
      font-size: 16px;
      padding-right: 20px;
      margin-bottom: 20px;
      width: 100%;
    }

    button {
      padding: 19px 39px 18px 39px;
      font-weight: bold;
      color: #FFF;
      background-color: #52be73;
      font-size: 20px;
      text-align: center;
      font-style: normal;
      border-radius: 40px;
      width: 100%;
      border: 1px solid #449624;
      border-width: 1px 1px 3px 3px;
      margin-bottom: 10px;
    }

    button:hover {
      color: rgb(62, 99, 7);
      cursor: pointer;
    }

    .text-deco {
      color: rgb(70, 44, 112);
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
    }

    p.comp-style {
      padding-left: 40px;
    }

    ul.skills {
      padding: 0;
      text-align: left;
    }

    .skills li {
      border-radius: 6px;
      display: inline-block;
      background: #ff9904;
      color: white;
      padding: 5px 10px;
      margin: 2px;
    }

    .skills li:nth-child(odd) {
      background: #0399ff;
    }

/* Footer Section */

    footer {
      width: 100%;
      min-height: 30px;
      background: rgb(7, 11, 61);
      color: #ffff;
      padding: 1.25em 0 0.625em 0;
      margin-top: 30px;
    }

    footer .copyright {
      top: -8px;
      font-size: 0.95rem;
      color: #fff;
    }

    footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    footer ul li {
      display: inline-block;
    }

    a.social {
      display: inline-block;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .5;
      transition: all .5s;
    }

    footer ul li {
      background: none;
    }
  
    a.github {
      margin-bottom: 0.3125em;
      background-image: url(images/github.svg);
    }
    a.social:hover {
      opacity: .8;
    }
    .clearfix {
      clear: both;
    }

    
/* Styles for larger screens */

@media screen and (min-width: 768px) {

      .header-content {
        min-height: 30px;
        padding: 10px;
        position: fixed;
      }

      .wrap {
        min-height: calc(100vh - 18px);
      }
      
      .flex {
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: flex; 
          max-width: 1200px;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          margin: 0 auto;
      }

      header {
        min-height: 470px;
      }

      main {
        padding-top: 20px;
      }

      main p {
        line-height: 1.6em;
      }

      footer {
        font-size: 1.3em;
      }

/* Body Styles */

    body {
      padding-top: 110px;
    }

    nav ul li {
      display: inline-block;
      background: none;
      padding: 0;
      margin: 0;
    }

    .nav a {
      transition: all .5s;
    }

    .line{
      padding-left: 0.50em;
      color: yellow;
      display: initial;
    }

    .col {
      float: left;
      padding-right: 1em;
      padding-left: 1em;
    }

    .homepage,
    .events {
      width: 50%;
    }
}

@media (min-width: 1024px) {

/* Body Styles */

        body {
          padding-top: 51px;
        }

        .nav {
          display: flex;
          list-style-type: none;
          max-width: 1200px;
          padding: 0 30px;
        }

        .profile-name {
            float: left;
            padding-left: 1rem;
        }

        .nav {
          margin-top: 0.5rem;
        }

        nav ul  {
          float: right;
        }

        .line{
          padding-left: 1em;
          padding-right: 1em;
          color: yellow;
          display: initial;
        }
}

